
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'footer.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<div class="container">   
    	<div class="align-self-center">
		<h5>PAGE DE CONSULTATION DE L'ELEVE <strong>{{user.nom}}</strong></h5>
		<table>
        </br>
        <table class="table">
		<tr>

	<td>Nom</td>
    <td>Prénom</td>
    <td>Responsable</td>
    <td>Adresse</td>
    <td>Téléphone</td>
    <td>E-mail</td>
		</tr>
		<tr>
    <td>{{user.nom}}</td>
    <td>{{user.prenom}}</td>
    {% if eleve %}
    {% if eleve.responsable == null %}
    <td style="color : red;">L'eleve n'a aucun responsable.</td>
    {% else %}
    <td><a class="" href="http://localhost/goat/public/responsable/consulter/{{eleve.responsable.id}}">{{eleve.responsable.nom}}</a></td>
    {% endif %}
    <td>{{user.numrue}} {{user.rue}} {{user.ville}}</td>
    {% else %}
    <td style="color : red;">L'eleve n'a aucun responsable.</td>
    <td>{{user.numrue}} {{user.rue}} {{user.ville}}</td>
    {% endif %}
    <td>{{user.tel}}</td>
    <td>{{user.email}}</td>     
                <tr>      
            </tr>
        </table>
       <a class="btn btn-primary" href="http://localhost/goat/public/eleve/supprimer/{{user.id}}">Supprimer</a>
       <a class="btn btn-primary" href="http://localhost/goat/public/eleve/modifier/{{user.id}}">Modifier</a>
       	<input type="button" class="btn btn-dark" value="Retour" onclick="history.back()">
	</div>
    </body>
</html>