
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'footer.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<div class="container">   
    	<div class="d-flex align-items-center">
		<h5>PAGE DE CONSULTATION DE L'INSTRUMENT <strong>{{instrument.nom}}</strong></h5>
		<table>
        </br>
        <table class="table">
		<tr>

		<td>Id</td>
    <td>Nom</td>
    <td>Numéro de série</td>
    <td>Date d'achat</td>
    <td>prix d'achat</td>
    <td>utilisation</td>
    <td>Image</td>
    <td>Marque </td>
    <td>Couleur </td>
        <td>Contrat pret</td>
    <td>Accessoire </td>

    
		</tr>
		<tr>
    <td>{{instrument.id}}</td>
    <td>{{instrument.nom}}</td>
    <td>{{instrument.numeroserie}}</td> 
    <td>{{instrument.dateachat|date("d/n/Y")}}</td>    
    <td>{{instrument.prixachat}}</td>
    <td>{{instrument.utilisation}}</td>
    <td>{{instrument.cheminimage}}</td>
    <td>{{instrument.marque.libelle}}</td>
    <td>{% for instrument in instrument.getCouleur() %} {{instrument.nom}}{% endfor %}</td>
    {% for e in instrument.accessoire %}
    <td>{{e.libelle}}</a></td>
    {% endfor %}
    {% for e in instrument.contratPret %}
    <td><a href="{{ path('contratPretConsulter', { 'id': e.id }) }}">{{e.id}}</a></td>
    {% endfor %}
    
                <tr>      
            </tr>         
        </table>
         {% if is_granted('ROLE_ADMIN') %}
       <a class="btn btn-primary" href="http://localhost/goat/public/instrument/modifier/{{instrument.id}}">Modifier</a>
        <a class="btn btn-primary" href="http://localhost/goat/public/instrument/supprimer/{{instrument.id}}">Supprimer</a>
        <a class="btn btn-primary" href="http://localhost/goat/public/professeur/contratPret/ajouter/">Ajouter un contrat de pret</a>
	</div>
	 {% endif %}
    </div>
    </body>
</html>