
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'footer.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<div class="container">   
    	<div class="d-flex align-items-center">
		<h5>PAGE DE CONSULTATION DU RESPONSABLE <strong>{{responsable.prenom}}</strong></h5>
		<table>
        </br>
        <table class="table">
		<tr>

		<td>Nom</td>
    <td>Prénom</td>
    <td>Adresse</td>
    <td>Ville</td>
    <td>Cp</td>
    <td>E-mail</td>
    <td>Téléphone</td>

		</tr>
		<tr>
    <td>{{responsable.nom}}</td>
    <td>{{responsable.prenom}}</td>
    <td>{{responsable.adresse}}</td>
    <td>{{responsable.ville}}</td>     
    <td>{{responsable.codepostal}}</td>  
    <td>{{responsable.email}}</td>  
    <td>{{responsable.tel1}}</td>  
                <tr>      
            </tr>
        </table>
	</div>
    </body>
</html>