<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN RESPONSABLE</h5>
 <p>
  <table >

    <tr><td>Id : </td><td>{{responsable.id}} </td></tr>
	<tr><td>Nom : </td><td>{{responsable.nom}}</td>
    <tr><td>Prénom : </td><td>{{responsable.prenom}}</td></tr></tr>
    <tr><td>Adresse : </td><td>{{responsable.adresse}}</td></tr>
    <tr><td>Ville : </td><td>{{responsable.ville}}</td></tr>
    <tr><td>Code postal : </td><td>{{responsable.codepostal}}</td></tr>
    <tr><td>Email : </td><td>{{responsable.email}}</td></tr>
    <tr><td>Tel1 : </td><td>{{responsable.tel1}}</td></tr>
	
 </table>
	
	 
    </body>
</html>