<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<div class="container">   
    	<div class="d-flex align-items-center">
		<h5>Liste des responsables :</h5>
		<table>
        </br>
		<table class="table">
		<tr>
		<td>prenom</td>
		<td>adresse</td>
		<td>ville</td>
		<td>codepostal</td>
        <td>email</td>
        <td>tel1</td>
		</tr>
		{% for e in pResponsables %}
       
		<tr>
			<td><a href="{{ path('consulterResponsable', { 'id': e.id }) }}">{{ e.nom }}</a></td>
            <td>{{ e.prenom }}</a> </td>
            <td>{{ e.adresse }}</a></td>
            <td>{{ e.ville }}</a></td>
            <td>{{ e.codepostal }}</a></td>
            <td>{{ e.email }}</a></td>
            <td>{{ e.tel1 }}</a></td>
	{% else %}
		<tr>
		<td style="color : red;">Aucun reponsable n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
 </tr>
	</table>
    	<a class="btn btn-primary" href="http://localhost/goat/public/responsable/ajouter/">Ajouter</a>
	</div>
	 
    </body>
</html>