<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN COUR</h5>
 <p>
    <table>
      <tr><td>Id : </td><td>{{cour.id}}</td>
      <tr><td>Libelle : </td><td>{{cour.libelle}}</td></tr></tr>
      <tr><td>Age min : </td><td>{{cour.agemini}}</td></tr></tr>
      <tr><td>Age max : </td><td>{{cour.agemaxi}}</td></tr></tr>
      <tr><td>Nombre de place : </td><td>{{cour.nbplaces}}</td></tr></tr>
      
    
      
    </table>

    </body>
</html>