<!DOCTYPE html>
<html>
    <head>
    <title>Consulter professeurs</title>    
    </head>
    <body>
    {% include 'header.html' %}
    {% include 'footer.html' %}
    <div class="container">   
    <div class="d-flex align-items-center">
    <h5>PAGE DE CONSULTATION D'UN PROFESSEUR</h5>
    </div>
	

  	<table class="table">
    <!--<tr><td>Id : </td><td>{{professeur.id}} </td></tr>!-->
	<tr>
      <td>Nom : </td>
      <td>{{professeur.user.nom}}</td>
	{% set photo = 'img/professeur/'~ professeur.id ~'.png' %}
	<td  rowspan="8" class="imgProf">
					
					 <img class="img-fluid img-thumbnail" style="width: 256px;" src="{{ asset(photo | trans )}}" title="{{ professeur.user.prenom ~ " " ~ professeur.user.nom }}" alt="{{ professeur.user.prenom ~ " " ~ professeur.user.nom }}" onerror="this.onerror=null; this.src='/goat/public/img/professeur/Default.png'"/>
   </td>
   </tr>		


    <tr>
      <td>Prénom : </td><td>{{professeur.user.prenom}}</td></tr>
   </tr>
   <tr>
      <td>Ville : </td><td>{{professeur.user.ville}}</td></tr>
   </tr>
   <tr>
      <td>Code postal : </td><td>{{professeur.user.codepostal}}</td></tr>
   </tr>
	
 	</table>
   <a class="btn btn-primary" href="http://localhost/goat/public/professeur/modifier/{{professeur.id}}">Modifier</a>
   <a class="btn btn-primary" href="http://localhost/goat/public/professeur/supprimer/{{professeur.id}}">Supprimer</a>
	<input type="button" class="btn btn-dark" value="Retour" onclick="history.back()">
 	</div>
	</div>
    </body>
</html>