<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lister professeurs</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	{% include 'header.html' %}
		{% include 'footer.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<div class="container">   
    	<div class="d-flex align-items-center">
		<h5>Liste des professeurs :</h5>
		</div>
	
		</br>
		<table class="table">
		<tr>
		<td>Nom</td>
		<td>Prenom</td>
		<td>Ville</td>
		<td>Cp</td>
		</tr>
		{% for e in pProfesseurs %}
		<tr>
			<td><a class="text-decoration-none" href="{{ path('professeurConsulter', { 'id': e.id }) }}">{{ e.user.nom }}</a></td>
			<td>{{ e.user.prenom }}</a></td>
			<td>{{ e.user.ville}}</a></td>
			<td>{{ e.user.codepostal}}</a></td>
	{% else %}
		<tr>
		<td style="color : red;">Aucun professeurs n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
	
	 </tr>
	</table>
	{% if is_granted('ROLE_ADMIN') %}
	<a class="btn btn-primary" href="/goat/public/admin/professeur/ajouter">Ajouter</a>
	{% endif %}
	</div>
    </body>
</html>