

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'footer.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<div class="container">   
    	<div class="d-flex align-items-center">
		<h5>PAGE DE CONSULTATION DU COURS <strong>{{cours.libelle}}</strong></h5>
		<table>
        </br>
        <table class="table">
		<tr>

		<td>Nom</td>
    <td>libelle</td>
    <td>agemini</td>
    <td>agemaxi</td>
    <td>nbplaces</td>
    <td>date de début</td>
    <td>date de fin</td>
    <td>Heure de début</td>
		</tr>
		<tr>
    <td>{{cours.id}}</td>
    <td>{{cours.libelle}}</td>
    <td>{{cours.agemini}} </td>
    <td>{{cours.agemaxi}}</td>
    <td>{{cours.nbplaces}}</td>  
    <td>{{ cours.dateD|date("d/n/Y")}}</td>
    <td>{{cours.heureD}}</td>  
    <td>{{cours.heureF}}</td>  
                <tr>      
            </tr>
        </table>
         {% if is_granted('ROLE_ADMIN') %}
       <a class="btn btn-primary" href="http://localhost/goat/public/cours/modifier/{{cours.id}}">Modifier</a>
       <a class="btn btn-primary" href="http://localhost/goat/public/cours/supprimer/{{cours.id}}">Supprimer</a>
       	 {% endif %}
        <input type="button" class="btn btn-dark" value="Retour" onclick="history.back()">
	</div>
    </body>
</html>