<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div class="container">   
    	<div class="d-flex align-items-center">

		<h5>Liste des cours :</h5>
		</br>
		<table class="table">
		<tr>
        <td>Libelle</td>
        <td>Age mini</td>
        <td>Age maxi</td>
        <td>nombre de place</td>
		</tr>
		{% for e in pCours %}
		<tr>
			<td><a href="{{ path('coursConsulter', { 'id': e.id }) }}">{{ e.libelle }}</a></td>
		    <td>{{ e.agemini }}</td>
			<td>{{ e.agemaxi }}</td>
            <td>{{ e.nbplaces }}</td>
            {% else %}
                <tr>
                <td style="color : red;">Aucun cours n'a été trouvé.</td>
            </tr>
            {% endfor %}
        </table>
         </tr>
	</table>
    	<a class="btn btn-primary" href="http://localhost/goat/public/cours/ajouter/">Ajouter</a>
	</div>
    </body>
</html>