<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'footer.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div class="container">   
        <div class="align-self-center">

		<h5>Liste des cours :</h5>
		</br>
		<table class="table">
		<tr>
        <td>Libelle</td>
        <td>Age mini</td>
        <td>Age maxi</td>
        <td>nombre de place</td>
        <td>Date de début</td>
       
		</tr>
		{% for e in pCours %}
		<tr>
			<td><a href="{{ path('coursConsulter', { 'id': e.id }) }}">{{ e.libelle }}</a></td>
		    <td>{{ e.agemini }}</td>
			<td>{{ e.agemaxi }}</td>
            <td>{{ e.nbplaces }}</td>
            <td>{{ e.dateD|date("d/n/Y")}}</td>
            {% else %}
                <tr>
                <td style="color : red;">Aucun cours n'a été trouvé.</td>
            </tr>
            {% endfor %}
        </table>
         </tr>
	</table>
    {% if is_granted('ROLE_ADMIN') %}
    	<a class="btn btn-primary" href="http://localhost/goat/public/admin/cours/ajouter/">Ajouter</a>
        {% endif %}
	</div>
    </div>
    </body>
</html>