
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'footer.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
	<div class="container">   
    <div class="self-align">
	<h5>PAGE DE CONSULTATION DE VOS INFORMATIONS <strong></strong></h5>
    <br>
    <div class="row">
    <div class="col-1">
    <img src="{{app.user.cheminimg}}" style="width: 100%;">
    </div>
    <div class="col">
    <table class="table">
    <tr>

    <td>Nom</td>
    <td>Prénom</td>
    <td>E-mail</td>
    <td>date de naissance</td>
    <td>Adresse</td>
    <td>Téléphone</td>
        </tr>
        <tr>
     {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
     <td>{{ app.user.nom }}</td> 
    <td>{{ app.user.prenom }}</td>
    <td>{{ app.user.email }}</td> 
    <td>{{ app.user.datenaiss|date("d/n/Y") }}</td>
    <td>{{ app.user.numrue }} {{ app.user.rue }}  {{ app.user.ville }} {{ app.user.codepostal }}</td> 
    <td>{{ app.user.email }}</td> 
    

   
    </tr>
    </table>
    </div>
    </div>
    </br>
    
    {% endif %}

	</div>
                  <table class="table">
    	          <tr>

		            <td>Instrument </td>
                    <td>Date de début du contrat</td>
                    <td>Date de fin</td>
                    <td>Attestation d'Assurance</td>
                    <td>Etat détail de debut</td>
                    <td>Etat détail de fin</td>
		            </tr>
		            <tr>
                   {% for c in app.user.contratPretsUser %}
		
        <td><a href="{{ path('instrumentConsulter', { 'id': c.instrument.id }) }}">{{c.instrument.nom}}</a></td>
                    <td>{{ c.dateDebut|date("d/n/Y") }}</td> 
                    <td>{{ c.dateFin|date("d/n/Y") }}</td> 
                    <td>{{c.attestationAssurance}}</td>
                  <td>{{c.etatDetailleDebut}}</td>
                  <td>{{c.etatDetailleFin}}</td>
	                {% endfor %}

                <tr>      
                
              </tr>
          </table>
 	<input type="button" class="btn btn-dark" value="Retour" onclick="history.back()">
    </body>
</html>



